
/*��д*/
ul.activity-timeline > li {
    margin-bottom: 31px;
}
ul.activity-timeline > li .timestamp {
    display: inline;
}
ul.activity-timeline > li:after {
    height: 58px;
}
ul.activity-timeline > li > p {
    padding-top: 9px;
}
label{
    font-weight: normal;
}

/*�Զ���*/
.display-none{
    display:  none;
}
.mb20{
	margin-bottom:20px;
}
.sidebar-scroll dl{
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    padding-left: 12%;
    padding-top: 4%;
}
.sidebar-scroll dl dt{
    font-weight: 100;
    line-height: 1.9;
}
.line-height-30{
    height: 30px;
}
.padding-bottom-10{
    padding-bottom: 10px !important;
}
.code-input{
    width: 73%;
    display: inline-block;
}
.codePng{
    width: 26%;
    height: 35px;
    cursor: pointer;
}
.inlineWidth220{
	 width: 220px;
}
.width220{   
	 width: 220px;
    display: inline;
}
/* tree */
.treep1{display:;}
.treep2{display:none;}
.sub_bav td {
    border: 0px solid #D0D0D0 !important;
    border-collapse: collapse;
    padding: 2px;
}