<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhw.mapper.MemberInfoMapper">
	<resultMap type="com.zhw.domain.MemberInfo" id="BaseMap">
		<id property="pkId" column="PK_ID" />
		<result property="fwCenter" column="FW_CENTER" />
		<result property="tjMan" column="TJ_MAN" />
		<result property="jdMan" column="JD_MAN" />
		<result property="hyCode" column="HY_CODE" />
		<result property="zyArea" column="ZY_AREA" />
		<result property="yjPwd" column="YJ_PWD" />
		<result property="ejPwd" column="EJ_PWD" />
		<result property="sfzCardCode" column="SFZ_CARD_CODE" />
		<result property="yxEmail" column="YX_EMAIL" />
		<result property="sjMobile" column="SJ_MOBILE" />
		<result property="hyLevel" column="JB_LEVEL" />
		<result property="zcTime" column="ZC_TIME" />
		<result property="jhStatus" column="JH_STATUS" />
		<result property="ktTime" column="KT_TIME" />
		<result property="xgTime" column="XG_TIME" />
		<result property="ifAdmin" column="IF_ADMIN" />
		<result property="ifBdCenter" column="if_bd_center" />
		<result property="ktMan" column="KT_MAN" /> 
		<result property="tjInnerCode" column="TJ_INNERCODE" />
		
	</resultMap>
	
	<sql id="AddColumn">FW_CENTER,TJ_MAN,JD_MAN,HY_CODE,ZY_AREA,YJ_PWD,EJ_PWD,SFZ_CARD_CODE,YX_EMAIL,SJ_MOBILE,JB_LEVEL,ZC_TIME,JH_STATUS,KT_TIME,XG_TIME,IF_ADMIN,
	if_bd_center,KT_MAN,TJ_INNERCODE</sql>
	<sql id="BaseColumn">
		PK_ID,<include refid="AddColumn"/>
	</sql>

	<select id="selectForLogin" resultMap="BaseMap">
		SELECT <include refid="BaseColumn"/> FROM ZHW_MEM WHERE HY_CODE = #{hyCode} AND YJ_PWD = #{yjPwd} and JH_STATUS = 0
	</select>
	
	<select id="selectCountByHyCode" resultType="Integer">
		SELECT COUNT(1) FROM ZHW_MEM WHERE HY_CODE = #{hyCode}
	</select>
	
	<insert id="insertNewHyInfo" parameterType="com.zhw.domain.MemberInfo">
		INSERT INTO ZHW_MEM(<include refid="AddColumn"/>) VALUES(#{fwCenter},#{tjMan},#{jdMan},#{hyCode},#{zyArea,jdbcType=INTEGER}
			,#{yjPwd},#{ejPwd},#{sfzCardCode},#{yxEmail},#{sjMobile},#{hyLevel,jdbcType=INTEGER},#{zcTime},#{jhStatus,jdbcType=INTEGER}
			,#{ktTime},#{xgTime},#{ifAdmin,jdbcType=INTEGER},#{ifBdCenter,jdbcType=INTEGER},#{ktMan},#{tjInnerCode})
	</insert>
	<update id="modifyPwd" parameterType="String">
	update  ZHW_MEM 
	set 
	YJ_PWD = #{yjPwd},
	EJ_PWD = #{ejPwd},
	XG_TIME = sysdate()
	where HY_CODE = #{hyCode} and JH_STATUS = 0
	
	</update>
	<update id="modifyInfo" parameterType="String">
	update  ZHW_MEM 
	set 
	YX_EMAIL = #{yxEmail},
	SJ_MOBILE = #{sjMobile},
	SFZ_CARD_CODE = #{sfzCardCode},
	XG_TIME = sysdate()
	where HY_CODE = #{hyCode} and JH_STATUS = 0
	</update>
	
	<select id="selectJdManCode" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT HY_CODE FROM ZHW_MEM WHERE TJ_MAN=#{hyCode} and JH_STATUS = 0 ORDER BY KT_TIME DESC  LIMIT 1
	</select>
	
	<select id="selectMemberInfoBytjMan" parameterType="java.lang.String" resultMap="BaseMap">
		SELECT <include refid="BaseColumn"/> FROM ZHW_MEM WHERE  TJ_MAN=#{tjMan}  
			and  JH_STATUS = #{jhStatus}
		<if test="hyCode != null and hyCode != ''">
			and HY_CODE = #{hyCode}
		</if>
		order by XG_TIME DESC
		limit #{start},#{pageSize}
	</select>
	
	<select id="selectHyInfoByCode" parameterType="java.lang.String" resultMap="BaseMap">
		SELECT <include refid="BaseColumn"/> FROM ZHW_MEM WHERE HY_CODE=#{hyCode} LIMIT 1
	</select>
	
	<select id="selectCountForActivedOrNot" resultType="java.lang.Integer">
		SELECT count(1) FROM ZHW_MEM WHERE  JH_STATUS = #{jhStatus,jdbcType=INTEGER} and KT_MAN=#{currentUser}
		<if test="hyCode != null and hyCode != ''">
			and HY_CODE = #{hyCode}
		</if>
	</select>
	
	<select id="selectActivedOrNotPageList" resultMap="BaseMap">
		SELECT <include refid="BaseColumn"/> FROM ZHW_MEM WHERE  JH_STATUS in ${jhStatus} and KT_MAN=#{currentUser}
		<if test="hyCode != null and hyCode != ''">
			and HY_CODE = #{hyCode}
		</if>
		order by XG_TIME DESC
		 limit #{start},#{pageSize}
	</select>
	
	<update id="updateJhStatus">
		UPDATE ZHW_MEM SET JH_STATUS=#{jhStatus},KT_TIME=#{ktTime},XG_TIME=#{ktTime} WHERE HY_CODE = #{hyCode}
	</update>
	
	<delete id="deleteHyByCode" parameterType="java.lang.String">
		DELETE FROM ZHW_MEM WHERE HY_CODE = #{hyCode}
	</delete>
	
	<select id="selectCountBytjMan" resultType="Integer">
		SELECT COUNT(1) FROM ZHW_MEM WHERE TJ_MAN = #{tjMan}
			and  JH_STATUS = #{jhStatus}
	    <if test="hyCode != null and hyCode != ''">
			and HY_CODE = #{hyCode}
		</if>
	</select>
	
	<!-- 查询会员信息 -->
	<select id="selectBytjMan"  parameterType="java.lang.String" resultMap="BaseMap">
	SELECT <include refid="BaseColumn"/> FROM ZHW_MEM WHERE  TJ_MAN=#{tjMan}  
			and  JH_STATUS = 0
	</select>
	
	<!-- 自此以下为管理员操作 -->
	
	<select id="selectUnAuditCount" resultType="Integer">
		SELECT COUNT(1) FROM ZHW_MEM WHERE JH_STATUS = 3
	    <if test="hyCode != null and hyCode != ''">
			and HY_CODE = #{hyCode}
		</if>
	</select>
	
	<select id="selectUnAuditList" resultMap="BaseMap">
		SELECT <include refid="BaseColumn"/> FROM ZHW_MEM WHERE  JH_STATUS = 3 
		<if test="hyCode != null and hyCode != ''">
			and HY_CODE = #{hyCode}
		</if>
		order by XG_TIME DESC
		 limit #{start},#{pageSize}
	</select>
	
	<select id="selectNotBdCount" resultType="Integer">
		SELECT COUNT(1) FROM ZHW_MEM WHERE if_bd_center = 1
	    <if test="hyCode != null and hyCode != ''">
			and HY_CODE = #{hyCode}
		</if>
	</select>
	
	<select id="selectNotBdList" resultMap="BaseMap">
		SELECT <include refid="BaseColumn"/> FROM ZHW_MEM WHERE if_bd_center = 1
		<if test="hyCode != null and hyCode != ''">
			and HY_CODE = #{hyCode}
		</if>
		order by XG_TIME DESC
		limit #{start},#{pageSize}
	</select>
	
	<update id="setBdCenter" parameterType="java.lang.String">
		UPDATE ZHW_MEM SET if_bd_center = 0 WHERE HY_CODE = #{hyCode}
	</update>
	
	<select id="selectHyCountAdmin" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM ZHW_MEM
		<where>
			<if test="hyCode != null and hyCode != ''">
				and HY_CODE = #{hyCode}
			</if>
			<if test="jhStatus != null">
				and JH_STATUS = #{jhStatus}
			</if>
			<if test="ifBdCenter != null">
				and if_bd_center = #{ifBdCenter}
			</if>
		</where>
	</select>
	
	<select id="selectHyListAdmin" resultMap="BaseMap">
		SELECT <include refid="BaseColumn"/> FROM ZHW_MEM
		<where>
			<if test="hyCode != null and hyCode != ''">
				and HY_CODE = #{hyCode}
			</if>
			<if test="jhStatus != null">
				and JH_STATUS = #{jhStatus}
			</if>
			<if test="ifBdCenter != null">
				and if_bd_center = #{ifBdCenter}
			</if>
		</where>
		order by XG_TIME DESC
		limit #{start},#{pageSize}
	</select>
</mapper>
