<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhw.mapper.MemberInfoMapper">
	<resultMap type="com.zhw.domain.MemberInfo" id="BaseMap">
		<id property="pkId" column="PK_ID" />
		<result property="fwCenter" column="FW_CENTER" />
		<result property="tjMan" column="TJ_MAN" />
		<result property="jdMan" column="JD_MAN" />
		<result property="hyCode" column="HY_CODE" />
		<result property="zyArea" column="ZY_AREA" />
		<result property="yjPwd" column="YJ_PWD" />
		<result property="ejPwd" column="EJ_PWD" />
		<result property="sfzCardCode" column="SFZ_CARD_CODE" />
		<result property="yxEmail" column="YX_EMAIL" />
		<result property="sjMobile" column="SJ_MOBILE" />
		<result property="jbLevel" column="JB_LEVEL" />
		<result property="zcTime" column="ZC_TIME" />
		<result property="jhStatus" column="JH_STATUS" />
		<result property="ktTime" column="KT_TIME" />
		<result property="xgTime" column="XG_TIME" />
		<result property="ifAdmin" column="IF_ADMIN" />
	</resultMap>
	
	<sql id="BaseColumn">
		PK_ID,FW_CENTER,TJ_MAN,JD_MAN,HY_CODE,ZY_AREA,YJ_PWD,EJ_PWD,SFZ_CARD_CODE,YX_EMAIL,SJ_MOBILE,SJ_MOBILE,JB_LEVEL,ZC_TIME,JH_STATUS,JH_STATUS,KT_TIME,XG_TIME,IF_ADMIN
	</sql>
</mapper>
