<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhw.mapper.MemberScoreInfoMapper">
	<resultMap type="com.zhw.domain.MemberScoreInfo" id="BaseMap">
		<id property="hyCode" column="HY_CODE" />
		<result property="tjCount" column="FW_CENTER" />
		<result property="hyLevel" column="HY_LEVEL" />
		<result property="ifAdmin" column="IF_ADMIN" />
		<result property="ljTotalScore" column="LJ_TOTAL_SCORE" />
		<result property="jjScore" column="JJ_SCORE" />
		<result property="xjScore" column="XJ_SCORE" />
		<result property="lyScore" column="LY_SCORE" />
		<result property="gwScore" column="GW_SCORE" />
		<result property="bdScore" column="BD_SCORE" />
		<result property="pdBalance" column="PD_BALANCE" />
		<result property="pdOverArea" column="PD_OVER_AREA" />
		<result property="gxTime" column="GX_TIME" />
	</resultMap>
</mapper>
