<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhw.mapper.MemberBankInfoMapper">
	<resultMap type="com.zhw.domain.MemberBankInfo" id="BaseMap">
		<id property="pkId" column="PK_ID" />
		<result property="hyCode" column="HY_CODE" />
		<result property="khBankName" column="KH_BANK_NAME" />
		<result property="khCardCode" column="KH_CARD_CODE" />
		<result property="khName" column="KH_NAME" />
		<result property="khProvince" column="KH_PROVINCE" />
		<result property="khCity" column="KH_CITY" />
		<result property="khSfCardCode" column="KH_SF_CARD_CODE" />
		<result property="cjTime" column="CJ_TIME" />
		<result property="xgTime" column="XG_TIME" />
		<result property="ifDisabled" column="IF_DISABLED" />
	</resultMap>
</mapper>
