<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhw.mapper.MemberBankInfoMapper">
	<resultMap type="com.zhw.domain.MemberBankInfo" id="BaseMap">
		<id property="pkId" column="PK_ID" />
		<result property="hyCode" column="HY_CODE" />
		<result property="khBankName" column="KH_BANK_NAME" />
		<result property="khCardCode" column="KH_CARD_CODE" />
		<result property="khName" column="KH_NAME" />
		<result property="khProvince" column="KH_PROVINCE" />
		<result property="khCity" column="KH_CITY" />
		<result property="sfzCardCode" column="KH_SF_CARD_CODE" />
		<result property="cjTime" column="CJ_TIME" />
		<result property="xgTime" column="XG_TIME" />
		<result property="ifDisabled" column="IF_DISABLED" />
	</resultMap>
	
	<sql id="AddColumn">HY_CODE,KH_BANK_NAME,KH_CARD_CODE,KH_NAME,KH_PROVINCE,KH_CITY,KH_SF_CARD_CODE,CJ_TIME,XG_TIME,IF_DISABLED</sql>
	<sql id="BaseColumn">PK_ID,<include refid="AddColumn"/></sql>
	
	<insert id="insertNewBankInfo" parameterType="com.zhw.domain.MemberBankInfo">
		INSERT INTO ZHW_MEM_BANK(<include refid="AddColumn"/>) VALUES(#{hyCode},#{khBankName},#{khCardCode},#{khName},#{khProvince}
			,#{khCity},#{sfzCardCode},#{cjTime},#{xgTime},#{ifDisabled,jdbcType=INTEGER})
	</insert>
	
	<update id="modifyBankInfo" parameterType="com.zhw.domain.MemberBankInfo">
	
	update  ZHW_MEM_BANK
	set 
	KH_BANK_NAME = #{khBankName},
	KH_CARD_CODE = #{khCardCode},
	KH_NAME = #{khName},
	KH_PROVINCE = #{khProvince},
	KH_CITY = #{khCity},
	KH_SF_CARD_CODE = #{sfzCardCode},
	XG_TIME = sysdate()
	where  HY_CODE = #{hyCode} and IF_DISABLED = 0
	</update>
	
	<select id="queryBankInfo" resultMap="BaseMap">
		SELECT <include refid="BaseColumn"/> from ZHW_MEM_BANK where  HY_CODE = #{hyCode} and IF_DISABLED = 0
	</select>
</mapper>
