<!DOCTYPE html>
<html lang="en" class="fullscreen-bg">
<head>
	<title>登录</title>



	<link rel="stylesheet" href="../../static/assets/css/bootstrap.css"/>


	<link rel="stylesheet" href="../../static/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="../../static/assets/css/main.css">
	<link rel="stylesheet" href="../../static/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">



	<link rel="stylesheet" href="../../static/assets/css/bootstrapValidator.css"/>
	<script type="text/javascript" src="../../static/assets/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/assets/scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../static/assets/scripts/bootstrapValidator.js"></script>
</head>
<body>

<div id="wrapper">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle">
			<div class="auth-box ">
				<div class="left">
					<div class="content">
						<div class="header">
							<!--<div class="logo text-center"><img src="assets/img/logo-dark.png" alt="Klorofil Logo"></div>-->
							<p class="lead">欢迎登陆</p>
						</div>
						<form  id="defaultForm" class="form-auth-small" method="post" action="target.php">
							<div class="form-group">
								<label for="signin-email" class="control-label sr-only">用户名</label>
								<input type="text" name="username" class="form-control" id="signin-email" value="" placeholder="用户名">
							</div>
							<div class="form-group">
								<label for="signin-password" class="control-label sr-only">密码</label>
								<input type="password" name="password" class="form-control" id="signin-password" value="" placeholder="密码">
							</div>
							<div class="form-group">
								<label for="signin-password" class="control-label sr-only">验证码</label>
								<input type="password" name="code" class="form-control code-input" id="signin-code" value="" placeholder="验证码">
								<img src="../../static/assets/img/code.png" alt="" class="codePng" alt="验证码" title="点击刷新"/>
							</div>
							<button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
							<div class="bottom">
								<span class="helper-text"><i class="fa fa-lock"></i> <a href="#">忘记密码?</a></span>
							</div>
						</form>
					</div>
				</div>
				<div class="right">
					<div class="overlay"></div>
					<div class="content text">
						<h1 class="heading">会员管理系统</h1>
						<!--<p>by The Develovers</p>-->
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#defaultForm').bootstrapValidator({
			message: '填写不正确',
			feedbackIcons: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				username: {
					message: '无效用户名',
					validators: {
						notEmpty: {
							message: '用户名不能为空'
						},
						stringLength: {
							min: 6,
							max: 30,
							message: '用户名长度在6-30之间'
						}
					}
				},
				password: {
					validators: {
						notEmpty: {
							message: '密码不能为空'
						}
					}
				},
				code:{
					validators:{
						notEmpty:{
							messsage:'验证码不能为空'
						}
					}
				}
			}
		});
	});
</script></body>
</html>